<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452332343578-a6auv5o2pmh1vrjcs36osv749ff51h5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452332343578-a6auv5o2pmh1vrjcs36osv749ff51h5p</string>
	<key>API_KEY</key>
	<string>AIzaSyDyCf8NjlA-IavsEal9Tm_0WX9AYfL9WLA</string>
	<key>GCM_SENDER_ID</key>
	<string>452332343578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>p.khotin.pokedexapp</string>
	<key>PROJECT_ID</key>
	<string>pokedex-f117f</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-f117f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452332343578:ios:f7bd21ba2b018efb525ca3</string>
	<key>DATABASE_URL</key>
	<string>https://pokedex-f117f.firebaseio.com</string>
</dict>
</plist>